{#
    Composant Footer
#}

<footer>
    <div class="footer-elements">
        <div class="footer-left">
            <div class="footer-points">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
        <a href="{{ path('app_mentions_legales') }}" class="ml-btn">MENTION LÉGALE</a>
    </div>
</footer>

<nav class="bottom-nav">
    <a href="{{ path('app_galerie') }}" class="bottom-nav-item">
        <i class="fa-solid fa-image"></i>
    </a>
    <a href="{{ path('app_stories') }}" class="bottom-nav-item">
        <i class="fas fa-book-open"></i>
    </a>
    <a href="#" class="bottom-nav-item plus">
        <i class="fas fa-plus"></i>
    </a>
    <a href="{{ path('app_shop') }}" class="bottom-nav-item">
        <i class="fas fa-shopping-bag"></i>
    </a>
    <a href="{{ path('app_profile') }}" class="bottom-nav-item">
        <i class="fas fa-user"></i>
    </a>
</nav>
